<div class="tab">
  <div id="tab-1" class="tab-contents">
    <div class="custom-form">
      <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
        <label>First Name * </label>
        <input name="name" type="text" onClick="this.select()" value="">
        <label>Second Name *</label>
        <input name="name2" type="text" onClick="this.select()" value="">
        <label>Email Address *</label>
        <input name="email" type="text" onClick="this.select()" value="">
        <label>Password *</label>
        <input name="password" type="password" onClick="this.select()" value="">
        <button type="submit" class="log-submit-btn"><span>Register</span></button>
      </form>
    </div>
  </div>
</div>
