<div class="login-and-register-form modal" id="exampleModal">
  <div class="main-overlay"></div>
  <div class="main-register-holder">
    <div class="main-register fl-wrap">
      <div class="close-reg"><i class="fa fa-times"></i></div>
      <div id="tabs-container">
        <ul class="tabs-menu">
          <li class="current" (click)="changeColorRegister()" id="login"><a routerLink="login">Login</a></li>
          <li (click)="changeColorLogin()"id="register"><a routerLink="register" >Register</a></li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
